<html>
    <body>
        <center>
            <h2> Enter the URL that you want to shorten! </h2>
            <form action = '/create_shortened_url' method ='post'>
                <input type = 'text' name ='original_url'>
                <input type = 'submit' value = 'shorten!'>
            </form>
        </center>
    </body>
</html>