<html>
    <body>
        <center>
            <h2> Enter the URL that you want to shorten! </h2>
            <form action = '/create_shortened_url' method ='post'>
                <input type = 'text' name ='original_url'>
                <input type = 'submit' value = 'shorten!'>
            </form>

            <ul>
                <% Url.links.each do |short_url, original_url| %>
                    <li> <%= short_url %>: <a href=<%= original_url %>><%= original_url %></a></li>
                <% end %>
            </ul> 
        </center>
    </body>
</html>